p  {
    color: Lime;
    Font-weight: 800;
}

.search {
   display: flex;
   align-self: center;
}

.searchfilter {
    flex-direction: column;
    font-weight: 400;
    align-self: flex-end;
}

.searchcontent {
    width: 200px;
    border: 2px solid black;
    resize: none;
    font-size: smaller;
}

.searchsubmit {
    width: relative;
    font-size: smaller;
}