p  {
    color: Lime;
    Font-weight: 800;
}

.search {
   display: flex;
   justify-self: right;
}

.searchcontent {
    width: 200px;
    height: relative;
    border: 2px solid black;
    resize: none;
    font-size: smaller;
    margin: 3px;
}

.searchsubmit {
    width: relative;
    height: relative;
    font-size: smaller;
    margin-bottom: 10px;
}